<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.scihi.meeting.mapper.MeetingSignLogMapper">
    <select id="select" parameterType="HashMap" resultType="Map">
        select
        t.id,t.username,t.meeting_id,t.sign_date,t.sign_out_date,t.sys_id
        ,t.lon, t.lat
        from s_meeting_sign_log t
        <where>
            <if test="null != sys_id and '' != sys_id">
                and t.sys_id = #{sys_id}
            </if>
            <if test="null != id and '' != id">
                and t.id = #{id}
            </if>
            <if test="null != username and '' != username">
                and t.username = #{username}
            </if>
            <if test="null != meeting_id and '' != meeting_id">
                and t.meeting_id = #{meeting_id}
            </if>
            <if test="null != sign_date and '' != sign_date">
                and t.sign_date = #{sign_date}
            </if>
            <if test="null != sign_out_date and '' != sign_out_date">
                and t.sign_out_date = #{sign_out_date}
            </if>
        </where>
        <choose>
            <when test="null != orderStr_ and '' != orderStr_">
                ${orderStr_}
            </when>
            <otherwise>
                order by id
            </otherwise>
        </choose>
    </select>

    <select id="selectForBean" parameterType="HashMap" resultType="cn.scihi.meeting.bean.MeetingSignLog">
        select
        t.id,t.username,t.meeting_id,t.sign_date,t.sign_out_date,t.sys_id
        ,t.lon, t.lat
        from s_meeting_sign_log t
        <where>
            <if test="null != sys_id and '' != sys_id">
                and t.sys_id = #{sys_id}
            </if>
            <if test="null != id and '' != id">
                and t.id = #{id}
            </if>
            <if test="null != username and '' != username">
                and t.username = #{username}
            </if>
            <if test="null != meeting_id and '' != meeting_id">
                and t.meeting_id = #{meeting_id}
            </if>
            <if test="null != sign_date and '' != sign_date">
                and t.sign_date = #{sign_date}
            </if>
            <if test="null != sign_out_date and '' != sign_out_date">
                and t.sign_out_date = #{sign_out_date}
            </if>
        </where>
        <choose>
            <when test="null != orderStr_ and '' != orderStr_">
                ${orderStr_}
            </when>
            <otherwise>
                order by id
            </otherwise>
        </choose>
    </select>

    <delete id="delete" parameterType="HashMap">
        delete from s_meeting_sign_log
        where id in
        <foreach collection="id.split(',')" open="(" separator="," close=")" item="item">
            #{item}
        </foreach>
    </delete>
    <insert id="insert" parameterType="HashMap" useGeneratedKeys="true" keyProperty="id">
        insert into s_meeting_sign_log (id,username,meeting_id,sign_date,sign_out_date,sys_id )
        values (#{id},#{username},#{meeting_id},#{sign_date},#{sign_out_date},#{sys_id})
    </insert>
    <update id="update" parameterType="HashMap">
        update s_meeting_sign_log
        <set>
            <if test="null != username">
                username = #{username},
            </if>
            <if test="null != meeting_id">
                meeting_id = #{meeting_id},
            </if>
            <if test="null != sign_date">
                sign_date = #{sign_date},
            </if>
            <if test="null != sign_out_date">
                sign_out_date = #{sign_out_date},
            </if>
            <if test="null != lon">
                lon = #{lon},
            </if>
            <if test="null != lat">
                lat = #{lat},
            </if>
        </set>
        where id = #{id}
    </update>

    <update id="updateById">
        update s_meeting_sign_log
        <set>
            <if test="null != log.sign_out_date">
                sign_out_date = #{log.sign_out_date},
            </if>
        </set>
        where id = #{meetingId}
    </update>
</mapper>
