<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.scihi.mbgl.mapper.SMbglInfoMapper">
	<select id="select" parameterType="HashMap" resultType="Map">
		select 
		t.id,t.sys_id,t.glid,t.xh,t.zxxm,t.zysx,t.zxr,t.cycle,t.cycle_count,t.repeat_,t.zxsj,t.pid,t.pdid,t.status,t.remark,t.creator,t.created,t.modifier,t.modified,t.ext1,t.ext2,t.ext3,t.row_version,t.row_state,t.row_default,t.row_hist,t.sort_no,t.task_req,t.req_id,t.req_model_id 
		from s_mbgl_info t 
		<where>
			<if test="null != id and '' != id">
				and t.id = #{id} 
			</if>
			<if test="null != sys_id and '' != sys_id">
				and t.sys_id = #{sys_id} 
			</if>
			<if test="null != glid and '' != glid">
				and t.glid = #{glid} 
			</if>
			<if test="null != xh and '' != xh">
				and t.xh = #{xh} 
			</if>
			<if test="null != zxxm and '' != zxxm">
				and t.zxxm = #{zxxm} 
			</if>
			<if test="null != zysx and '' != zysx">
				and t.zysx = #{zysx} 
			</if>
			<if test="null != zxr and '' != zxr">
				and t.zxr = #{zxr} 
			</if>
			<if test="null != cycle and '' != cycle">
				and t.cycle = #{cycle} 
			</if>
			<if test="null != cycle_count and '' != cycle_count">
				and t.cycle_count = #{cycle_count} 
			</if>
			<if test="null != repeat_ and '' != repeat_">
				and t.repeat_ = #{repeat_} 
			</if>
			<if test="null != zxsj and '' != zxsj">
				and t.zxsj = #{zxsj} 
			</if>
			<if test="null != pid and '' != pid">
				and t.pid = #{pid} 
			</if>
			<if test="null != pdid and '' != pdid">
				and t.pdid = #{pdid} 
			</if>
			<if test="null != status and '' != status">
				and t.status = #{status} 
			</if>
			<if test="null != remark and '' != remark">
				and t.remark = #{remark} 
			</if>
			<if test="null != creator and '' != creator">
				and t.creator = #{creator} 
			</if>
			<if test="null != created and '' != created">
				and t.created = #{created} 
			</if>
			<if test="null != modifier and '' != modifier">
				and t.modifier = #{modifier} 
			</if>
			<if test="null != modified and '' != modified">
				and t.modified = #{modified} 
			</if>
			<if test="null != ext1 and '' != ext1">
				and t.ext1 = #{ext1} 
			</if>
			<if test="null != ext2 and '' != ext2">
				and t.ext2 = #{ext2} 
			</if>
			<if test="null != ext3 and '' != ext3">
				and t.ext3 = #{ext3} 
			</if>
			<if test="null != row_version and '' != row_version">
				and t.row_version = #{row_version} 
			</if>
			<if test="null != row_state and '' != row_state">
				and t.row_state = #{row_state} 
			</if>
			<if test="null != row_default and '' != row_default">
				and t.row_default = #{row_default} 
			</if>
			<if test="null != row_hist and '' != row_hist">
				and t.row_hist = #{row_hist} 
			</if>
			<if test="null != sort_no and '' != sort_no">
				and t.sort_no = #{sort_no} 
			</if>
			<if test="null != task_req and '' != task_req">
				and t.task_req = #{task_req} 
			</if>
			<if test="null != req_id and '' != req_id">
				and t.req_id = #{req_id} 
			</if>
			<if test="null != req_model_id and '' != req_model_id">
				and t.req_model_id = #{req_model_id} 
			</if>
			<if test="null != keywords and '' != keywords">
			</if>
		</where>
		<choose>
			<when test="null != orderStr_ and '' != orderStr_">
				${orderStr_} 
			</when>
			<otherwise>
				order by t.xh asc
			</otherwise>
		</choose>
	</select>
	<delete id="delete" parameterType="HashMap">
		delete from s_mbgl_info 
		where id in 
		<foreach collection="id.split(',')" open="(" separator="," close=")" item="item">
			#{item} 
		</foreach>
	</delete>
	<insert id="insert" parameterType="HashMap" useGeneratedKeys="true" keyProperty="id">
		insert into s_mbgl_info 
		(id,sys_id,glid,xh,zxxm,zysx,zxr,cycle,cycle_count,repeat_,zxsj,pid,pdid,status,remark,creator,created,modifier,modified,ext1,ext2,ext3,row_version,row_state,row_default,row_hist,sort_no,task_req,req_id,req_model_id)
		values
		(#{id},#{sys_id},#{glid},#{xh},#{zxxm},#{zysx},#{zxr},#{cycle},1,#{repeat_},#{zxsj},#{pid},#{pdid},'1',#{remark},#{creator},#{created},#{modifier},#{modified},#{ext1},#{ext2},#{ext3},#{row_version},#{row_state},#{row_default},#{row_hist},#{sort_no},#{zysx},#{req_id},#{req_model_id})
	</insert>
	<update id="update" parameterType="HashMap">
		update s_mbgl_info 
		<set>
			<if test="null != glid">
				glid = #{glid},
			</if>
			<if test="null != xh">
				xh = #{xh},
			</if>
			<if test="null != zxxm">
				zxxm = #{zxxm},
			</if>
			<if test="null != zysx">
				zysx = #{zysx},task_req = #{zysx},
			</if>
			<if test="null != zxr">
				zxr = #{zxr},
			</if>
			<if test="null != cycle">
				cycle = #{cycle},
			</if>
			<if test="null != cycle_count">
				cycle_count = #{cycle_count},
			</if>
			<if test="null != repeat_">
				repeat_ = #{repeat_},
			</if>
			<if test="null != zxsj">
				zxsj = #{zxsj},
			</if>
			<if test="null != pid">
				pid = #{pid},
			</if>
			<if test="null != pdid">
				pdid = #{pdid},
			</if>
			<if test="null != status">
				status = #{status},
			</if>
			<if test="null != remark">
				remark = #{remark},
			</if>
			<if test="null != creator">
				creator = #{creator},
			</if>
			<if test="null != created">
				created = #{created},
			</if>
			<if test="null != modifier">
				modifier = #{modifier},
			</if>
			<if test="null != modified">
				modified = #{modified},
			</if>
			<if test="null != ext1">
				ext1 = #{ext1},
			</if>
			<if test="null != ext2">
				ext2 = #{ext2},
			</if>
			<if test="null != ext3">
				ext3 = #{ext3},
			</if>
			<if test="null != row_version">
				row_version = #{row_version},
			</if>
			<if test="null != row_state">
				row_state = #{row_state},
			</if>
			<if test="null != row_default">
				row_default = #{row_default},
			</if>
			<if test="null != row_hist">
				row_hist = #{row_hist},
			</if>
			<if test="null != sort_no">
				sort_no = #{sort_no},
			</if>
			<if test="null != task_req">
				task_req = #{task_req},
			</if>
			<if test="null != req_id">
				req_id = #{req_id},
			</if>
			<if test="null != req_model_id">
				req_model_id = #{req_model_id},
			</if>
		</set>
		where id = #{id} 
	</update>
</mapper>
