<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.scihi.yjsj.mapper.DangerTemplateScaleMapper">
	<select id="select" parameterType="HashMap" resultType="Map">
		select
		<include refid="BaseMapper.Base_Column_List_Select" />
		,t.parent_id as "parent_id"
		,t.scale_name as "scale_name"
		
		,t.status as "status"
		from s_danger_template_scale t
		<where>
			<if test="null != id and '' != id">
				and t.id = #{id}
			</if>
			<if test="null != sys_id and '' != sys_id">
				and t.sys_id = #{sys_id}
			</if>
			<if test="null != parent_id and '' != parent_id">
				and t.parent_id = #{parent_id}
			</if>
			<if test="null != row_default and '' != row_default">
				and t.row_default = #{row_default}
			</if>
			<if test="null != row_state and '' != row_state">
				and t.row_state = #{row_state}
			</if>
			<if test="null != row_version and '' != row_version">
				and t.row_version = #{row_version}
			</if>
			<if test="null != keywords and '' != keywords">
				and (
				t.scale_name like '%${keywords}%' 
				)
			</if>
		</where>
		<choose>
			<when test="null != orderStr_ and '' != orderStr_">
				${orderStr_}
			</when>
			<otherwise>
				order by created
			</otherwise>
		</choose>
	</select>
	
	<delete id="delete" parameterType="HashMap">
		delete from s_danger_template_scale 
		where id in (
			select id from (
					select t10.id,
					if(find_in_set(t10.parent_id, @pids) > 0, @pids := concat(@pids, ',', t10.id), 0) as ischild
					from (
							 select t9.id,t9.parent_id from s_danger_template_scale t9
							 order by t9.created
					) t10,
					(select @pids := #{id}) t8
			) t11 where ischild != '0' or t11.id in 
			<foreach collection="id.split(',')" open="(" separator="," close=")" item="item" index="index">
				#{item}
			</foreach>
		)
	</delete>
	
	<insert id="insert" parameterType="HashMap" useGeneratedKeys="true" keyProperty="id">
		insert into s_danger_template_scale (
		<include refid="BaseMapper.Base_Column_List_Insert" />
		,parent_id
		,scale_name
		<if test="null != status">
		,status
		</if>
		)
		values
		(
		<include refid="BaseMapper.Base_Column_List_Insert_Values" />
		,#{parent_id}
		,#{scale_name}
		<if test="null != status">
		,#{status}
		</if>
		)
	</insert>
	
	<update id="update" parameterType="HashMap">
		update s_danger_template_scale
		<set>
			<include refid="BaseMapper.Base_Column_List_Update" />
			<if test="null != scale_name">
				scale_name = #{scale_name}
			</if>
			<if test="null != parent_id">
				,parent_id = #{parent_id}
			</if>
			<if test="null != status">
				,status = #{status}
			</if>
		</set>
		where 
		id = #{id}
	</update>
</mapper>