<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.scihi.xxgl.mapper.XxrwglMapper">
	<select id="select" parameterType="HashMap" resultType="Map">
		select
		<include refid="BaseMapper.Base_Column_List_Select" />
		,t.xxk_id as "xxk_id"
		,t.xxrw_endtime as "xxrw_endtime"
		,t.req_model_id as "req_model_id"
		,t.user_name as "user_name"
		
		,t1.user_alias as "creator_alias"
		,t2.xxkgl_title as "xxkgl_title"
		,t2.xxkgl_sources as "xxkgl_sources"
		,t2.xxkgl_notes as "xxkgl_notes"
		
		,t.status as "status"
		from s_xxrwgl t
		left join sys_user t1 on t1.user_name = t.user_name
		left join s_xxkgl t2 on t2.id = t.req_model_id
		<where>
			<if test="null != id and '' != id">
				and t.id = #{id}
			</if>
			<if test="null != username and '' != username">
				and t.user_name = #{username}
			</if>
			<if test="null != ids and '' != ids">
				and t.id in (${ids})
			</if>
			<if test="null != sys_id and '' != sys_id">
				and t.sys_id = #{sys_id}
			</if>
			<if test="null != req_model_id and '' != req_model_id">
				and t.req_model_id = #{req_model_id}
			</if>
			<if test="null != row_default and '' != row_default">
				and t.row_default = #{row_default}
			</if>
			<if test="null != row_state and '' != row_state">
				and t.row_state = #{row_state}
			</if>
			<if test="null != row_version and '' != row_version">
				and t.row_version = #{row_version}
			</if>
			<if test="null != keywords and '' != keywords">
				and (
				t.remark like '%${keywords}%' 
				)
			</if>
		</where>
		<choose>
			<when test="null != orderStr_ and '' != orderStr_">
				${orderStr_}
			</when>
			<otherwise>
				order by created desc
			</otherwise>
		</choose>
	</select>
	
	<delete id="delete" parameterType="HashMap">
		delete from s_xxrwgl 
		where id in
		<foreach collection="id.split(',')" open="(" separator="," close=")" item="item" index="index">
			#{item}
		</foreach>
	</delete>
	
	<insert id="insert" parameterType="HashMap" useGeneratedKeys="true" keyProperty="id">
		insert into s_xxrwgl (
		<include refid="BaseMapper.Base_Column_List_Insert" />
		,xxk_id
		,xxrw_endtime
		,req_model_id
		,user_name
		<if test="null != status">
		,status
		</if>
		)
		values
		(
		<include refid="BaseMapper.Base_Column_List_Insert_Values" />
		,#{xxk_id}
		,#{xxrw_endtime}
		,#{req_model_id}
		,#{user_name}
		<if test="null != status">
		,#{status}
		</if>
		)
	</insert>
	
	<update id="update" parameterType="HashMap">
		update s_xxrwgl
		<set>
			<include refid="BaseMapper.Base_Column_List_Update" />
			<if test="null != xxk_id">
				xxk_id = #{xxk_id},
			</if>
			<if test="null != xxrw_endtime">
				xxrw_endtime = #{xxrw_endtime},
			</if>
			<if test="null != req_model_id">
				req_model_id = #{req_model_id},
			</if>
			<if test="null != user_name">
				user_name = #{user_name},
			</if>
			<if test="null != status">
				status = #{status},
			</if>
		</set>
		where 
		id = #{id}
	</update>
</mapper>