<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.scihi.mbgl.mapper.TaskMapper">
	<select id="select" parameterType="HashMap" resultType="java.util.Map">
		select
		<include refid="BaseMapper.Base_Column_List_Select" />
		,t.mbid
		,t.infoid
		,t.parent_id
		,t3.mbmc
		,t2.xh
		,t2.zxxm
		,t.zxr
		,t.zxkssj
		,t.zxjssj
		,t.zxjg
		,t.lat
		,t.lng
		,t1.user_alias as "zxrDesc"
		,t.status, t.task_req, t.req_id, t.req_model_id
		from s_task t
		left join sys_user t1 on t.zxr = t1.user_name
		left join s_mbgl_info t2 on t.infoid=t2.id
		left join s_mbgl t3 on t.mbid=t3.id
		<where>
			<if test="null != task_req and '' != task_req">
				and t.task_req = #{task_req}
			</if>
			<if test="null != req_id and '' != req_id">
				and t.req_id = #{req_id}
			</if>
			<if test="null != req_model_id and '' != req_model_id">
				and t.req_model_id = #{req_model_id}
			</if>
			<if test="null != id and '' != id">
				and t.id = #{id}
			</if>
			<if test="null != sys_id and '' != sys_id">
				and t.sys_id = #{sys_id}
			</if>
			<if test="null != status and '' != status">
				and t.status = #{status}
			</if>
			<if test="null != zxr and '' != zxr">
				and t.zxr = #{zxr}
			</if>
			<if test="null != mbid and '' != mbid">
				and t.mbid = #{mbid}
			</if>
			<if test="null != infoid and '' != infoid">
				and t.infoid = #{infoid}
			</if>
			<if test="null != username and '' != username">
				 and t.zxr = #{my_task}
			</if>
			<if test="null != keywords and '' != keywords">
				and (t.pid like '${keywords}%'
				or t1.user_alias like '${keywords}%')
			</if>
		</where>
		<choose>
			<when test="null != orderStr_ and '' != orderStr_">
				${orderStr_}
			</when>
			<otherwise>
				order by t.created desc
			</otherwise>
		</choose>
		<!-- order by t.parent_id+0, t.modified desc -->
	</select>
	<delete id="delete" parameterType="HashMap">
		delete from s_task 
		where id in
		<foreach collection="id.split(',')" open="(" separator="," close=")" item="item" index="index">  
			#{item}
		</foreach>
		
	</delete>
	<insert id="insert" parameterType="HashMap" useGeneratedKeys="true" keyProperty="id">
		insert into s_task (
		<include refid="BaseMapper.Base_Column_List_Insert" />
		,mbid
		,infoid
		,zxr
		,zxjg
		,lat
		,lng
		,status
		,task_req, req_id, req_model_id
		)
		values
		(
		<include refid="BaseMapper.Base_Column_List_Insert_Values" />
		,#{mbid}
		,#{infoid}
		,#{zxr}
		,#{zxjg}
		,#{lat}
		,#{lng}
		,#{status}
		,#{task_req}, #{req_id}, #{req_model_id}
		)
	</insert>
	<update id="update" parameterType="HashMap">
		update s_task set modified=now()
		<if test="status != null and '' != status">
			,status =#{status}
		</if>
		<if test="zxjssj != null">
			,zxjssj =#{zxjssj}
		</if>
		<if test="task_req != null and '' != task_req">
			,task_req =#{task_req}
		</if>
		<if test="req_id != null and '' != req_id">
			,req_id =#{req_id}
		</if>
		<if test="remark != null and '' != remark">
			,remark =#{remark}
		</if>
		where id = #{id}
	</update>

	<update id="updateForCondition">
		update s_task set modifier=now()
		<if test="updateMap.status!=null">, status=#{updateMap.status}</if>
		where 1=1
		<if test="conditionMap.id!=null">and id=#{conditionMap.id}</if>
		<if test="conditionMap.mbid!=null">and mbid=#{conditionMap.mbid}</if>
	</update>
</mapper>